#topology
def pubnumber 2
def hubnumber 2
def subnumber 2

#settings
def balance on
def outfile /home/zhaohui/log/new/lC
#hub send interval is the max number of packets that hub can send per second(100M)
def hubSendInterval 100000000
#pub send interval in microsecond
def pubSendInterval 35
#hub cache max length in byte
def hubCacheLength 100000000
#delay of reading a packet from bk in microsecond
def BKreadDelay 50
#hub send window length(packet)
def hubWindowCapacity 10

#publish
#pub pubId topicId packetNumber
pub 1 1 50000
pub 2 2 50000
#pub 3 3 50000
#pub 4 4 50000

#subscribe
#sub subId topId
sub 1 1
sub 2 2
#sub 3 1
#sub 4 1



